{% extends 'base.html.twig' %}

{% block title %}Edit Program{% endblock %}

{% block body %}

<div class="general row">

    {% include '/inc/navbarAdmin.html.twig' %}

    <div class="col">

        <h1>Modifier le programme</h1>

        {{ include('admin_program/_form.html.twig', {'button_label': 'Update'}) }}

        {{ include('admin_program/_delete_form.html.twig') }}
    </div>
    {% endblock %}
