{% extends 'base.html.twig' %}


{% block body %}

    <div class="row headeradmin">


        {% include '/inc/navbarAdmin.html.twig' %}

        <div class="col">

            <div>
                <img src="{{ asset('/pictures/logotexte.png') }}" class="">
            </div>

            <div>
                <h1 class="white">Bienvenue dans votre espace administrateur</h1>
            </div>
            
            <div>
                <img src="{{ asset('/pictures/elephant.jpg') }}" class="fotoAdmin elephant">
                <img src="{{ asset('/pictures/aerial.jpg') }}" class="fotoAdmin elephant">
                <img src="{{ asset('/pictures/clown.jpg') }}" class="fotoAdmin clown">
            </div>

        </div>


    </div>
{% endblock %}