{% extends 'base.html.twig' %}

{% block body %}

    {% include '/inc/navbar.html.twig' %}

    <div class="backgroundIndex">

        <h3 class="ml3 white">Bientôt près chez vous découvrez l'extraordinaire Wild Circus</h3>


        <button class="btn btn-primary btn-index ">Consultez nos dates !</button>


    </div>
    
{% endblock %}