{% extends 'base.html.twig' %}

{% block title %}Edit Artist{% endblock %}

{% block body %}

    <div class="general row">

        {% include '/inc/navbarAdmin.html.twig' %}

        <div class="col">

            <h1>Modifier les informations de {{ artist.name }}</h1>

            <div class="container">

                {{ include('admin/artist/_form.html.twig', {'button_label': 'Modifier'}) }}

            </div>

        </div>
    </div>

{% endblock %}
